# Python
__pycache__/
*.py[cod]
*.pyo

# Jupyter
.ipynb_checkpoints/

# Model checkpoints
*.pth
*.pt
*.ckpt

# Large experiment outputs
checkpoints/
models/

# Dataset
dataset/
data/
SIPaKMeD/

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Temporary files
*.tmp
*.log